body {
    font-size: 50px;
    .center {
        width: 720px;
        height: auto;
        margin: 0 auto;
        p {
            text-align: center;
            background-color:bisque;
            text-decoration: underline;
        }
    }
}